.chatPage {
  display: grid;
  grid-template-columns: 12% 50% auto;
  height: calc(100vh - 90px);
}

.chat {
  grid-column: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 4px rgba(6, 8, 9, 0.16);
  overflow: hidden;
}
.chat__messages {
  width: 100%;
  flex: 0.9;
  padding: 30px;
  padding-top: 50px;
}

.chat__form {
  width: 100%;
  flex: 0.1;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
}

.chat__form-input {
  border-radius: 50px;
  height: 45px;
  padding: 0 30px;
  margin-left: 20px;
  background: white;
  border: none;
  flex: 1;
  font-size: 1.1rem;
}
.chat__form-input:focus {
  outline-width: 0;
}

.chat__form-button {
  width: 60px;
  height: 60px;
  padding: 0 !important;
  margin: 10px 20px 10px 20px !important;
  background: transparent !important;
}
.chat__form-icon {
  color: #7d7e81;
  width: 40px;
  height: 40px;
}

.chatMembers {
  width: 50%;
  height: fit-content;
  margin-left: 40px;
  background-color: white;
  grid-column: 3;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(6, 8, 9, 0.16);
}

.chatMembers__title {
  font-size: 1.6rem;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.chatMembers__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-bottom: 10px;
}

@import '../components/chat/chatMessage';
@import '../components/chat/chatUser';
