.messagesPage {
  display: grid;
  grid-template-columns: 55% auto;
  height: calc(100vh - 90px);
  margin: 10px 10px 0;
}

.chat {
  min-width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 4px rgba(6, 8, 9, 0.16);
  overflow: hidden;
}
.chat__messages {
  width: 100%;
  flex: 0.9;
  padding: 10px;
  padding-top: 50px;
  overflow: auto;
  scrollbar-width: none;
}
.chat__messages::-webkit-scrollbar {
  display: none;
}

.chat__form {
  width: 100%;
  flex: 0.1;
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
}

.chat__form-left {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 10px 20px 10px 40px;
  border: 1px solid gray;
  width: 80%;
  height: 40px;
  overflow: hidden;
}

.chat__form textarea {
  height: 40px;
  padding-top: 10px;
  margin-left: 20px;
  border: none;
  background: white;
  flex: 1;
  font-size: 1.2rem;
}
.chat__form textarea:focus {
  outline-width: 0;
}

.chat__form button {
  padding: 5px;
  margin-right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.chat__form button:focus {
  outline: none;
}
.chat__form-icon {
  color: #7d7e81;
  width: 36px;
  height: 36px;
}

.chatMembers {
  width: 60%;
  height: 50%;
  margin-left: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(6, 8, 9, 0.16);
}

.chatMembers__title {
  font-size: 1.6rem;
  text-align: center;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.chatMembers__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-bottom: 10px;
}

@import '../components/chat/chatMessage';
@import '../components/chat/chatUser';
