.overview {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 250px 350px;
  width: calc(100% - 20px);
  height: calc(100vh - 80px);
  margin: 10px 10px 0;
}

.overview__info {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  color: #fff;
  border-radius: 5px;
  h1 {
    color: #fff;
    font-size: 32px;
    margin: 0;
  }
}

.overview__callsContainer {
  grid-column: span 5;
  display: flex;
  border: 1px solid rgba(6, 8, 9, 0.16);
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.overview__someContainer {
  grid-row: 2;
  grid-column: 6 / span 3;
  background: #fff;
  border-radius: 5px;
  padding-bottom: 10px;
  border: 1px solid rgba(6, 8, 9, 0.16);
}

.overview__casesContainer {
  grid-column: 9 / span 4;
  display: flex;
  border: 1px solid rgba(6, 8, 9, 0.16);
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}

.overview__calls {
  width: 70%;
  padding: 0 20px;
}

.overview__cases {
  width: 66%;
}

.overview__infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  ul {
    list-style: none;
  }
  li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
    margin: 0;
  }
  span {
    margin-right: 10px;
  }
}

.overview__calls-info {
  width: 30%;
}

.overview__cases-info {
  width: 31%;
}

.overview__cases {
  grid-row: 2;
  grid-column: 7 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview__utilization {
  grid-row: 3;
  grid-column: 8 / span 5;
  background-color: #fff;
  border: 1px solid rgba(6, 8, 9, 0.16);
  border-radius: 5px;
  padding: 10px;
}
.overview__callCount {
  grid-row: 3;
  grid-column: span 7;
  background-color: #fff;
  border: 1px solid rgba(6, 8, 9, 0.16);
  border-radius: 5px;
  padding: 10px;
}

.overview__dataHeader {
  margin: 0;
  font-size: 18px;
}
