.solutionPage {
  display: grid;
  gap: 10px;
  grid-template-columns: 16% 16% 68%;
  grid-template-rows: 60px 1fr;
  width: calc(100% - 20px);
  height: calc(100vh - 70px);
  margin: 0 10px;
}

@import '../components/solutions/titleList';
@import '../components/solutions/titleListItem';
@import '../components/solutions/solutionSearch';
@import '../components/solutions/solution';
@import '../components/solutions/solutionForm';
