.button {
  color: $primaryColor;
  background: #fff;
  border: 1px solid $primaryColor;
  padding: 0 1rem;
  border-radius: 6px;
  min-width: 2.5rem;
  height: 2.5rem;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateY(1px);
  }
  &:disabled {
    opacity: 0.6;
  }
}

.primary {
  background-color: $primaryColor;
  color: #fff;
}
