.header {
  background-color: white;
  border-bottom: 1px solid #d4d6d7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 70px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.header__title {
  font-size: 16px;
  margin-right: 20px;
  color: #696969;
}
