.addUser {
  padding: 20px 0;
  h2 {
    font-size: 18px;
  }
}

.addUser__form {
  display: flex;
}

.addUser__left {
  width: 45%;
}

.addUser__right {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.addUser__general {
  display: flex;
  justify-content: space-between;
}

.addUser__name {
  display: flex;
  justify-content: space-between;
}

.addUser__optional {
  width: 40%;
}

.caseForm__bottom {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.caseForm__addButton {
  margin-top: 13px;
}

.content .active {
  background-color: transparent;
}
