.adminSettings {
  background-color: #fff;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(6, 8, 9, 0.16);
  h1 {
    margin-left: 20px;
  }
  h2 {
    align-self: center;
  }
}

.adminSettings__userName {
  display: flex;
  align-items: center;
  span {
    margin-left: 15px;
  }
}

.ui.celled.table {
}
