.adminSettings {
  background-color: #fff;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(6, 8, 9, 0.16);
  h1 {
    margin: 10px 0 20px 20px;
  }
  h2 {
    align-self: center;
  }
}

.adminSettings__userName {
  display: flex;
  align-items: center;
  span {
    margin-left: 15px;
  }
}
.addUser__container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  h1 {
    margin: 0;
  }
}

.adminSettings__addButton {
  display: flex;
  margin-top: 20px;
}
