.navbar__link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin: 7px 7px;
  border-radius: 50%;

  &:hover {
    opacity: 0.8;
    background-color: #0078ae;
  }
  &.active:hover {
    opacity: 1;
    background-color: white;
  }

  span {
    font-weight: normal;
  }
}

.navbar__link-icon {
  width: 28px;
  height: 28px;
}

.active {
  background-color: white;
  color: #0086c2;
}
