.navbar {
  grid-row: span 2;
  background: linear-gradient(
    176.02deg,
    #2d9cdb -2.11%,
    #5876eb 67.24%,
    #8860d0 101.47%
  );

  display: flex;
  flex-direction: column;
  align-items: center;

  //background-color: #0086c2;
}

.navbar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #0078ae;
  width: 100%;
  padding: 15px 0;
}

.navbar__header-text {
  color: white;
  margin-left: 10px;
}

.navbar__logo {
  width: 75px;
  margin-bottom: 10px;
}

.navbar__links {
  margin-top: 20px;
  list-style: none;
  flex: 1;
}

@import './link';
