.chatMessage {
  position: relative;
  font-size: 15px;
  padding: 10px;
  width: fit-content;
  margin-bottom: 40px;
}
.chatMessage__container {
  display: flex;
  align-items: center;
}

.chatMessage__message {
  background-color: #e4e6eb;
  color: #050505;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
}

.chatMessage__sender {
  position: absolute;
  min-width: fit-content;
  top: -15px;
  left: 60px;
  font-weight: 800;
  white-space: nowrap;
  font-size: 12px;
  color: gray;
}
.chatMessage__timestamp {
  position: absolute;
  white-space: nowrap;
  right: 20px;
  min-width: 75px;
  bottom: -15px;
  font-size: x-small;
  margin-left: 10px;
  color: gray;
}

.chat__receiver {
  margin-left: auto;
}
.chat__receiver .chatMessage__message {
  background-color: #3d8ee1;
  color: white;
}
.chat__receiver .chatMessage__sender {
  left: auto;
  right: 65px;
}
.chat__receiver .chatMessage__timestamp {
  right: 60px;
}

.chat__receiver .chatMessage__container {
  flex-direction: row-reverse;
}
