.chatUser {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
}

.chartUser__online {
  position: absolute;
  left: 38px;
  bottom: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #31a24c;
  border: 2px solid #fff;
}

.chatUser__name {
  margin-left: 15px;
  font-size: 14px;
}
