.titleList {
  background-color: white;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.categories {
  grid-row: 2 span;
}

.titleList__title {
  padding-bottom: 20px;
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.titleList__titles {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  overflow-y: hidden;
}

.titleList__titles::-webkit-scrollbar {
  display: none;
}
