.titleListItem {
  padding: 6px 0;
  background-color: #eceff5;
  border: none;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #2b3353;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
}

.titleListItem:focus {
  outline-width: 0;
}

.titleListItem:hover {
  opacity: 0.7;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.16);
}

.titleListItem:active {
  transform: translateY(1px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
}

.activeListItem {
  background-color: #3d8ee1;
  color: white;
}
