.titleListItem {
  padding: 8px 0;
  background-color: #e3e5e79a;
  border: none;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  color: #2b3353;
}

.titleListItem:focus {
  outline-width: 0;
}

.titleListItem:hover {
  opacity: 0.8;
}

.titleListItem:active {
  transform: translateY(1px);
}

.activeListItem {
  background-color: $primaryColor;
  color: white;
}
