.titleList {
  background-color: white;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(6, 8, 9, 0.16);
}

.categories {
  grid-row: 2 span;
}

.titleList__title {
  padding-bottom: 10px;
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.titleList__titles {
  border-top: 1px solid gray;
  padding-top: 10px;
  overflow-y: scroll;
}

.titleList__titles::-webkit-scrollbar {
  display: none;
}
