.case {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid rgba(6, 8, 9, 0.16);
  p {
    white-space: pre-line;
  }
}

.case__status {
  width: fit-content;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  padding: 0 10px;
}

.case__title {
  margin: 20px 0 5px;
  font-size: 18px;
}

.case__date {
  font-style: italic;
  font-size: 12px;
  color: gray;
}

.case__number {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  span {
    font-weight: normal;
  }
}

.case__description {
  margin: 10px 0;
  min-height: fit-content;
  border-style: none;
  color: #000000a4;
  border-color: Transparent;
  overflow: auto;
  resize: none;
  &:focus {
    outline: none;
  }
}

.case__bottom {
  display: flex;
  justify-content: space-between;
}

.case__createdBy {
  display: flex;
  font-size: small;
  font-style: italic;
  align-items: ce;
}

.case__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case__avatar {
  width: 35px !important;
  height: 35px !important;
}

.draggable {
  cursor: url('../../../assets/icons/Grab.cur'), auto !important;
  cursor: grab;
}

.new {
  background-color: #dd3333c0;
}
.inProgress {
  background-color: #df9604;
}
.completed {
  background-color: #26a65b;
}
