* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
.app {
  display: grid;
  background-color: #ecf0f3;
  grid-template-columns: 80px auto;
  grid-template-rows: 50px auto;
  row-gap: 10px;
  height: 100vh;
  transition: all 0.5s ease;
}

// Components
@import './components/navbar';
@import './components/header';
@import './components/button';
@import './components/solutionSearch';

// Pages
@import './pages/solutionPage';
