* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
.app {
  display: grid;
  background-color: #f6f8fb;
  grid-template-columns: min-content auto;
  grid-template-rows: 70px auto;
  gap: 10px;
  height: 100vh;
  transition: all 0.5s ease;
}

@import './components/navbar';
